body{
	background-color: #EBFCF4;
}
.contenedor{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 609px;
}

.primero{
	width: 50%;
} 
.segundo{
	margin-top: -7px;
	margin-bottom: -6px;
	background-color: rgb(255, 255, 255);
	width: 50%;
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
} 
#imagen{
	width: 403px;
	height: 371px;
	margin-top: 50px;
	margin-left: 120px;
}
.text{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 10px;
	margin-left: 150px;
}
#text1{
	font-family: 'Athiti', sans-serif;
	font-size: 20px;
	width: 25%;
	color: #0B4654;
}
#text2{
	font-family: 'Athiti', sans-serif;
	font-size: 20px;
	width: 25%;
	color: #0B4654;
}

.arriba{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 35px;
	margin-left: 50px;
	margin-bottom: -5px;
}
#ca:before{
	margin-left: 115px;
	font-family: 'Athiti Medium 500', sans-serif;
	color: #0B4654;
	font-size: 30px;
	margin-bottom: -5px;
	content: "Create Account";
}
.rg{
	position: relative;
  }
  
  .rg:before {
	content: "";
	position: absolute;
	left: 90px;
	top: 0;
	bottom: 0;
	width: 20px;
	background: url("./img/loginicon.svg") center / contain no-repeat;
  }
  .rg2{
	position: relative;
  }
  
  .rg2:before {
	content: "";
	position: absolute;
	margin-top: 49px;
	left: -444px;
	top: 0;
	bottom: 0;
	width: 20px;
	background: url("./img/email.svg") center / contain no-repeat;
  }
  .rg3{
	position: relative;
  }
  
  .rg3:before {
	content: "";
	position: absolute;
	margin-top: 49px;
	left: -444px;
	top: 0;
	bottom: 0;
	width: 20px;
	background: url("./img/password-fill.svg") center / contain no-repeat;
  }
  .rg{
	position: relative;
  }
  
  .rg4:before {
	content: "";
	position: absolute;
	margin-top: -19px;
	left: 1215px;
	top: 0;
	bottom: 0;
	width: 19px;
	background: url("./img/ojo.svg") center / contain no-repeat;
  }
  input {
	padding: 1px 30px;
  }
#auno{
	width: 18%;
}

#ados{
	margin-top: -25px;
	font-family: 'Athiti Medium 500', sans-serif;
	font-size: 35px;
	width: 25%;
	color: #0B4654;
}
.int{
	font-family: 'Athiti', sans-serif;
	font-size: 12px;
	margin-left: 80px;
	margin-bottom: 10px;
	border-radius: 6px;
	border-color: #0000001e;
	width: 390px;
	height: 30px;
}
#ch{
	margin-top: 20px;
	font-family: 'Athiti', sans-serif;
	font-size: 12px;
}
.check{
	margin-top: -10px;
	margin-left: 76px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	font-family: 'Athiti', sans-serif;
	font-size: 15px;
	color: #00000077;
}
.btn{
	margin-top: 15px;
	margin-left: 120px;
	border-radius: 12px;
	border-color: #0000000a;
	width: 450px;
	height: 40px;
	font-family: 'Athiti', sans-serif;
	font-size: 12px;
}
#sign{
	color: #EBFCF4;
	background-color: #07B464;
	box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.151);
}
#bk{
	background-color: #0b455405;
	color: #00000079;
}
.textfn{
	margin-left: 250px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	font-family: 'Athiti', sans-serif;
	font-size: 15px;
	color: #00000077;
}
#log{
	color: #07B464;
}

@media (min-width: 370px) and (max-width: 500px) {
	
	body{
		background-color: #ffffff;
	}
	.contenedor{
		height: 500px;
		width: 290px;
		background-color: #ffffff;
	}
	.segundo{
		background-color: rgb(255, 255, 255);
		width: 100%;
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
	} 
	#imagen{
		width: 203px;
		height: 171px;
		margin-top: 10px;
		margin-left: 40px;
	}
	.text{
		display: none !important;
	}
	
	.arriba{
		display: none !important;
	}
	#ca:before{
	margin-left:105px;
	font-family: 'Athiti Medium 500', sans-serif;
	color: #0B4654;
	font-size: 16px;
    content: "SignUp";
	}
	.rg{
		position: relative;
	  }
	  
	  .rg:before {
		content: "";
		position: absolute;
		left: -3px;
		bottom: 0;
		margin-top: 2px;
		width: 20px;
		background: url("./img/loginicon.svg") center / contain no-repeat;
	  }
	  .rg2{
		position: relative;
	  }
	  
	  .rg2:before {
		content: "";
		position: absolute;
		left: -250px;
		top: 0;
		bottom: 0;
		width: 50px;
		background: url("./img/email.svg") center / contain no-repeat;
	  }
	  .rg3{
		position: relative;
	  }
	  
	  .rg3:before {
		content: "";
		position: absolute;
		left: -250px;
		top: 0;
		bottom: 0;
		width: 20px;
		background: url("./img/password-fill.svg") center / contain no-repeat;
	  }
	  .rg{
		position: relative;
	  }
	  
	  .rg4:before {
		content: "";
		position: absolute;
		margin-top: -255px;
		left: 220px;
		top: 0;
		bottom: 0;
		width: 15px;
		background: url("./img/ojo.svg") center / contain no-repeat;
	  }
	  input {
		padding: 1px 30px;
	  }
	#auno{
		width: 18%;
	}
	
	#ados{
		margin-top: -25px;
		font-family: 'Athiti Medium 500', sans-serif;
		font-size: 35px;
		width: 25%;
		color: #0B4654;
	}
	.int{
		font-family: 'Athiti', sans-serif;
		font-size: 12px;
		margin-left: -10px;
		margin-bottom: 10px;
		border-radius: 6px;
		border-color: #0000001e;
		width: 140px;
		height: 20px;
	}
	#ch{
		margin-top: 10px;
		font-family: 'Athiti', sans-serif;
		font-size: 12px;
	}
	.check{
		margin-top: -10px;
		margin-left: -10px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		font-family: 'Athiti', sans-serif;
		font-size: 10px;
		color: #00000077;
	}
	.btn{
		margin-top: 5px;
		margin-left: 30px;
		border-radius: 12px;
		border-color: #0000000a;
		width: 190px;
		height: 30px;
		font-family: 'Athiti', sans-serif;
		font-size: 12px;
	}
	#sign{
		color: #EBFCF4;
		background-color: #07B464;
		box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.151);
	}
	#bk{
		background-color: #0b455405;
		color: #00000079;
	}
	.textfn{
		margin-left: 60px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		font-family: 'Athiti', sans-serif;
		font-size: 10px;
		color: #00000077;
	}
	#log{
		color: #07B464;
	}
  }
